![rmotr](https://user-images.githubusercontent.com/7065401/39119486-4718e386-46ec-11e8-9fc3-5250a49ef570.png)
<hr style="margin-bottom: 40px;">

<img src="https://user-images.githubusercontent.com/872296/38710484-1b94f93c-3e97-11e8-977c-abde2e774f57.png"
    style="width:300px; float: right; margin: 0 40px 40px 40px;"></img>

# Aggregation and Grouping

![separator2](https://user-images.githubusercontent.com/7065401/39119518-59fa51ce-46ec-11e8-8503-5f8136558f2b.png)

## Hands on!

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [26]:
df = pd.read_csv('data/nba_2017_cleaned.csv', index_col=1, dtype={
    'Tm': 'category',
    'Pos': 'category'
})

In [27]:
df.head()

,Tm,Rk,Pos,Age,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,,,,,
DeAndre' Bembry,ATL,40,SF,22,38,1,371,47,98,0.480,...,0.375,14,45,59,28,8,5,16,21,101
Dennis Schroder,ATL,394,PG,23,79,78,2485,548,1214,0.451,...,0.855,42,206,248,499,74,16,258,149,1414
Dwight Howard,ATL,205,C,31,74,74,2199,388,613,0.633,...,0.533,296,644,940,104,64,92,170,203,1002
Edy Tavares,ATL,418,C,24,1,0,4,1,1,1.000,...,0.000,0,1,1,0,0,0,0,0,2
Gary Neal,ATL,323,SG,32,2,0,18,0,7,0.000,...,1.000,0,1,1,1,0,0,0,1,4

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 486 entries, DeAndre' Bembry to Trey Burke
Data columns (total 29 columns):
Tm      486 non-null category
Rk      486 non-null int64
Pos     486 non-null category
Age     486 non-null int64
G       486 non-null int64
GS      486 non-null int64
MP      486 non-null int64
FG      486 non-null int64
FGA     486 non-null int64
FG%     485 non-null float64
3P      486 non-null int64
3PA     486 non-null int64
3P%     449 non-null float64
2P      486 non-null int64
2PA     486 non-null int64
2P%     483 non-null float64
eFG%    485 non-null float64
FT      486 non-null int64
FTA     486 non-null int64
FT%     470 non-null float64
ORB     486 non-null int64
DRB     486 non-null int64
TRB     486 non-null int64
AST     486 non-null int64
STL     486 non-null int64
BLK     486 non-null int64
TOV     486 non-null int64
PF      486 non-null int64
PTS     486 non-null int64
dtypes: category(2), float64(5), int64(22)
memory usage: 107.7+ KB

In [30]:
df['FG'].groupby(df['Pos']).mean()

Pos
C     196.268041
PF    163.116505
PG    204.577320
SF    203.595238
SG    192.523810
Name: FG, dtype: float64

In [31]:
df.groupby('Pos').mean()

,Rk,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Pos,,,,,,,,,,,,,,,,,,,,,
C,263.391753,26.257732,52.855670,25.567010,1110.175258,196.268041,370.989691,0.528753,14.886598,42.164948,...,0.666695,100.144330,232.793814,332.938144,67.824742,30.257732,47.298969,62.659794,118.113402,495.247423
PF,237.368932,26.029126,48.194175,21.378641,1036.718447,163.116505,352.990291,0.443155,34.786408,101.223301,...,0.710949,58.077670,173.563107,231.640777,67.728155,29.058252,24.456311,50.864078,91.300971,427.291262
PG,253.659794,26.731959,50.876289,24.804124,1207.639175,204.577320,470.309278,0.411289,57.113402,159.010309,...,0.783926,23.814433,121.268041,145.082474,219.298969,45.154639,10.474227,91.257732,88.835052,577.628866
SF,222.702381,26.976190,55.547619,29.654762,1345.821429,203.595238,456.095238,0.418048,58.166667,166.202381,...,0.760575,43.488095,176.059524,219.547619,98.404762,47.297619,21.750000,61.857143,101.738095,563.035714
SG,238.390476,26.152381,51.809524,23.257143,1230.266667,192.523810,447.828571,0.395779,69.628571,189.380952,...,0.779755,24.028571,117.123810,141.152381,104.657143,38.780952,12.533333,61.257143,86.904762,533.161905

In [34]:
df['FG'].groupby(df['Pos']).size()

Pos
C      97
PF    103
PG     97
SF     84
SG    105
Name: FG, dtype: int64

In [32]:
df.groupby('Pos').size()

Pos
C      97
PF    103
PG     97
SF     84
SG    105
dtype: int64

We can also pass custom functions:

In [37]:
df['FG'].groupby(df['Pos']).apply(np.mean)

Pos
C     196.268041
PF    163.116505
PG    204.577320
SF    203.595238
SG    192.523810
Name: FG, dtype: float64

![separator2](https://user-images.githubusercontent.com/7065401/39119518-59fa51ce-46ec-11e8-8503-5f8136558f2b.png)